<a href="https://colab.research.google.com/github/Kaif974/Assignment_2_DataStructure/blob/main/Data_Structures_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.Write a code to reverse a string.

In [1]:
def reverse_string(s):
    return s[::-1]

string = "hello"
print(reverse_string(string))

olleh

Q2.Write a code to count the number of vowels in a string.

In [2]:
def count_vowels(s):
    return sum(1 for c in s.lower() if c in 'aeiou')

string = "Hello World"
print(count_vowels(string))

3

Q3.Write a code to check if a given string is a palindrome or not.

In [3]:
def is_palindrome(s):
    return s == s[::-1]

string = "madam"
print(is_palindrome(string))

True

Q4.Write a code to check if two given strings are anagrams of each other.

In [4]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

print(are_anagrams("listen", "silent"))

True

Q5.Write a code to find all occurrences of a given substring within another string.

In [5]:
def find_substring_occurrences(s, sub):
    return [i for i in range(len(s) - len(sub) + 1) if s[i:i+len(sub)] == sub]

print(find_substring_occurrences("abracadabra", "abra"))

[0, 7]

Q6.Write a code to perform basic string compression using the counts of repeated characters.

In [6]:
def compress_string(s):
    if not s:
        return ""
    result = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            result.append(s[i - 1] + str(count))
            count = 1
    result.append(s[-1] + str(count))
    return ''.join(result)

print(compress_string("aaabbccccaa"))

a3b2c4a2

Q7.Write a code to determine if a string has all unique characters.

In [7]:
def has_unique_chars(s):
    return len(s) == len(set(s))

string = "abcdef"
print(has_unique_chars(string))

string = "aabbcc"
print(has_unique_chars(string))

True
False

Q8.Write a code to convert a given string to uppercase or lowercase.

In [8]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

string = "Hello World"
print(convert_case(string, to_upper=True))
print(convert_case(string, to_upper=False))

HELLO WORLD
hello world

Q9.Write a code to count the number of words in a string.

In [9]:
def count_words(s):
    return len(s.split())

string = "This is an example string."
print(count_words(string))

5

Q10.Write a code to concatenate two strings without using the + operator.

In [10]:
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

string1 = "Hello"
string2 = "World"
print(concatenate_strings(string1, string2))

HelloWorld

Q11.Write a code to remove all occurrences of a specific element from a list.

In [11]:
def remove_element(lst, element):
    return [item for item in lst if item != element]

my_list = [1, 2, 3, 4, 3, 5, 3]
print(remove_element(my_list, 3))

[1, 2, 4, 5]

Q12.Implement a code to find the second largest number in a given list of integers.

In [12]:
def second_largest(nums):
    nums = list(set(nums))  # Remove duplicates
    nums.sort()
    return nums[-2] if len(nums) >= 2 else None

my_list = [10, 20, 4, 45, 99, 45]
print(second_largest(my_list))

45

Q13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [13]:
def count_occurrences(lst):
    return {item: lst.count(item) for item in set(lst)}

my_list = [1, 2, 2, 3, 3, 3, 4]
print(count_occurrences(my_list))

{1: 1, 2: 2, 3: 3, 4: 1}

Q14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [14]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

Q15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [15]:
def remove_duplicates(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

my_list = [1, 2, 2, 3, 4, 3, 5]
print(remove_duplicates(my_list))

[1, 2, 3, 4, 5]

Q16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [16]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))  # Output: True

my_list = [5, 4, 3, 2, 1]
print(is_sorted(my_list))  # Output: True

my_list = [1, 3, 2, 4, 5]
print(is_sorted(my_list))  # Output: False

True
True
False

Q17.Write a code to merge two sorted lists into a single sorted list.

In [17]:
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print(merge_sorted_lists(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8]

Q18.Implement a code to find the intersection of two given lists.

In [18]:
def intersection_of_lists(list1, list2):
    return list(set(list1) & set(list2))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
print(intersection_of_lists(list1, list2))

[3, 4]

Q19.Create a code to find the union of two lists without duplicates.

In [19]:
def union_of_lists(list1, list2):
    return list(set(list1) | set(list2))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
print(union_of_lists(list1, list2))

[1, 2, 3, 4, 5, 6]

Q20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [20]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[1, 5, 4, 2, 3]

Q21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [21]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
print(common_elements(tuple1, tuple2))

(3, 4)

Q22.Cherse od that to s the user to enter two sets of integers separated by commas, Then,print the intersection of these tho set.

In [22]:
def common_elements():
    set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
    print("The intersection of the two sets is:", set1 & set2)

common_elements()

Enter the first set of integers separated by commas: 1,2,3,4,5
Enter the second set of integers separated by commas: 3,4,5,6,7
The intersection of the two sets is: {3, 4, 5}

Q23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [23]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(concatenate_tuples(tuple1, tuple2))

(1, 2, 3, 4, 5, 6)

Q24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that aesent in the first set but not in the second set.

In [24]:
def difference_of_sets():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
    print("Elements present in the first set but not in the second set:", set1 - set2)

difference_of_sets()

Enter the first set of strings separated by commas: apple, banana,cherry
Enter the second set of strings separated by commas: banana, kiwi
Elements present in the first set but not in the second set: {' banana', 'cherry', 'apple'}

Q25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [38]:
def slice_tuple(tup, start_index, end_index):
    return tup[start_index:end_index]

# Example usage
tuple_input = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))
start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))

result = slice_tuple(tuple_input, start, end)
print(result)

Enter a tuple of integers separated by commas: 1,2,3,4,5,6,7
Enter the start index: 2
Enter the end index: 5
(3, 4, 5)

Q26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [25]:
def union_of_sets():
    set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter the second set of characters separated by commas: ").split(','))
    print("The union of the two sets is:", set1 | set2)

union_of_sets()

Enter the first set of characters separated by commas: a,b,c
Enter the second set of characters separated by commas: c,d,e
The union of the two sets is: {'c', 'a', 'e', 'd', 'b'}

Q27.Develop a code that takes a tuple of integers as input. The function should return the maximum an linimum values from the tuple using tuple unpacking.

In [26]:
def find_max_min(tuple_of_integers):
    max_value, min_value = max(tuple_of_integers), min(tuple_of_integers)
    return max_value, min_value

tuple_input = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))
max_val, min_val = find_max_min(tuple_input)
print(f"Maximum value: {max_val}, Minimum value: {min_val}")

Enter a tuple of integers separated by commas: 1,2,3,4,5
Maximum value: 5, Minimum value: 1

Q28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [27]:
def set_operations():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}

    print("Union of the two sets:", set1 | set2)
    print("Intersection of the two sets:", set1 & set2)
    print("Difference of the two sets (set1 - set2):", set1 - set2)

set_operations()

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference of the two sets (set1 - set2): {1, 2, 3}

Q29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [28]:
def count_occurrences_in_tuple(tup, element):
    return tup.count(element)

tuple_input = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))
element_input = int(input("Enter the element to count: "))
print(f"The element {element_input} appears {count_occurrences_in_tuple(tuple_input, element_input)} times.")

Enter a tuple of integers separated by commas: 1,2,3,1,3
Enter the element to count: 2
The element 2 appears 1 times.

Q30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [29]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
    print("The symmetric difference of the two sets is:", set1 ^ set2)

symmetric_difference_of_sets()

Enter the first set of strings separated by commas: apple,banana
Enter the second set of strings separated by commas: apple
The symmetric difference of the two sets is: {'banana'}

Q31.withe vade are he relien es of tre se word in the in ditionary whore the keys are unique words and the value are the frequencies of those words in the input list.

In [30]:
def word_frequencies(words):
    frequency_dict = {}
    for word in words:
        frequency_dict[word] = frequency_dict.get(word, 0) + 1
    return frequency_dict

input_list = input("Enter a list of words separated by commas: ").split(',')
print(word_frequencies(input_list))

Enter a list of words separated by commas: apple, banana,cherry,apple,banana,orange
{'apple': 2, ' banana': 1, 'cherry': 1, 'banana': 1, 'orange': 1}

Q32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [34]:
from collections import defaultdict

def merge_and_sum_dicts(dict1, dict2):
    merged_dict = defaultdict(int)

    for key, value in dict1.items():
        merged_dict[key] += value

    for key, value in dict2.items():
        merged_dict[key] += value

    return dict(merged_dict)

dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))
print(merge_and_sum_dicts(dict1, dict2))

Enter the first dictionary: {'apple': 2, 'banana': 3, 'cherry': 1}
Enter the second dictionary: {'banana': 1, 'cherry': 4, 'date': 2}
{'apple': 2, 'banana': 4, 'cherry': 5, 'date': 2}

Q33.33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [35]:
def get_value_from_nested_dict(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 10
        }
    }
}

keys = ['a', 'b', 'c']
print(get_value_from_nested_dict(nested_dict, keys))  # Output: 10

keys = ['a', 'b', 'd']
print(get_value_from_nested_dict(nested_dict, keys))  # Output: None

10
None

Q34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [36]:
def sort_dict_by_values(d, descending=False):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=descending))

# Example usage
input_dict = eval(input("Enter a dictionary: "))
order = input("Sort in descending order? (yes/no): ").strip().lower() == 'yes'

sorted_dict = sort_dict_by_values(input_dict, descending=order)
print(sorted_dict)

Enter a dictionary: {'apple': 5, 'banana': 2, 'cherry': 7}
Sort in descending order? (yes/no): yes
{'cherry': 7, 'apple': 5, 'banana': 2}

Q35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the Inverted dictionary

In [37]:
def invert_dict(d):
    inverted_dict = {}

    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

# Example usage
input_dict = eval(input("Enter a dictionary: "))
inverted_dict = invert_dict(input_dict)
print(inverted_dict)

Enter a dictionary: {'a': 1, 'b': 2, 'c': 1, 'd': 3}
{1: ['a', 'c'], 2: ['b'], 3: ['d']}